html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  min-height: 400px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 50px;
}

.timeline {
  flex-grow: 1;
}

.userpic {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.body {
  flex-grow: 1;
  background: #ccc;
  text-align: center;
}

.oracle {
  margin: 50px auto 0 auto;
  font-size: 80px;
  white-space: nowrap;
  text-align: center;
  width: 120px;
  border: 2px solid rgba(123, 123, 123, 0.5);
  border-radius: 5px;
  font-family: Arial;
  color: #333;
  line-height: 120px;
  height: 120px;
  outline: none;
  background: #fff;
  transition: transform 0.1s;
  cursor: pointer;
  display: inline-block;
}

.oracle:focus {
  border-color: rgb(140, 46, 137, 0.5);
}

.oracle:hover {
  border-color: rgba(123, 123, 123, 0.8);
}

.oracle:active {
  transform: scale(0.98);
}

.oracle:disabled {
  pointer-events: none;
  opacity: 0.5;
}
